{% extends 'base.html' %}

{% block content %}
{% if error %}
<p>{{ error }}</p>
{% else %}
<p>Hi, @{{ username }}</p>
<p>Do you want to authorize <a href="{{ app_website }}" target="_blank">{{ app_name }}</a> with the follow scopes?</p>
<p>{{ app_scopes }}</p>
<form action="/oauth/authorize" method="post">
    <input name="client_id" id="client_id" value="{{ client_id }}" type="hidden" autocomplete="off">
    <input name="redirect_uri" id="redirect_uri" value="{{ redirect_uri }}" type="hidden" autocomplete="off">
    <input name="scope" id="scope" value="{{ app_scopes }}" type="hidden" autocomplete="off">
    <button name="authorize" type="submit">Authorize</button>
</form>
{% endif %}
{% endblock %}
